
html, body {background: #0E3B43 font-family:calibri; font-size 16px; color:#F0D9D1;}

#container {
width: 80%;
padding:30px; 
max-width: 800px;
background: #0E3B43;
margin: 30px auto;
}

p {
width:70%;
padding: 30px;
border:30px solid #1B434B;
max width:800px;
background:779FA1;
line-height:1.4em;
margin-bottom:20px;
font-family: Calibri;
font-size:1em;
color: #F0D9D1;
}

section {
border-top: 1px solid #1B434B;
padding: 20px 20px 20px;
}

.personalDetails {
padding: 25px 35px;
border-bottom: 2px solid #779FA1;
background:#1B434B;
}

.details {
width: 70%;
background:#9AD5CA; 
}
