article, section{
display:block;
}

html, body {background: #453643; font-family: arial, sans-serif; font-size 14px; color: #F0D9D1;}

#container {
width: 90%;
max-width: 800px;
background: #155965;
margin: 30px auto;
}

#mainArea {
font-family: Arial, sans-serif;
font-size: 1em;
background: #155965;
}

#photo img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float:right;
}

p {
width:90%;
max width:800px;
background: #155965;
line-height:1.4em;
margin-bottom:20px;
font-family: arial,sans-serif;
font-size:1em;
color: #F0D9D1;
}

#personalDetails {
padding: 25px 35px;
border-bottom: 2px solid #779FA1;
background:#453643;
font-family: arial, sans-serif;
font-size:1em;
color: #9AD5CA;
}

#detailsList ul {
font-family: arial, sans-serif;
font-size: 1em;
float:left;
}

#funFact {
font-family: arial, sans-serif;
font-size: 1em;
float:left;
}



.sectionTitle {
float: left;
width: 25%;
}

.sectionTitle h1{
font-family:arial, sans-serif;
font-size: 1.5em;
color: #9AD5CA;
}

.sectionContent {
float: right; 
width: 72.5%;
}

.sectionContent h2 {
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.sectionContent h3 {
	font-family: Arial, sans-serif;
	font-style: italic;
	font-size: 1.1em;
	margin-bottom: -2px;
}

.sectionContent img {
	border: 2px solid #9AD5CA;
}
section {
border-top: 1px solid #9AD5CA;
padding: 10px;
}


.details {
width: 70%;
background:#779FA1; 
}

h1 {
font-size:1.5em;
font-weight: 700;
font-family:Arial, sans-serif;

} 

h2 {
font-size: 1.2em;
margin-left: 2px;
font-family: Arial, sans-serif;
font-style: italics;
}

h3 {
font-size: 1em;
margin-left:2px;
font-family: Arial, sans-serif;
font-style: italics;
}




